<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="../css/landing_page.css">
    <link rel="stylesheet" href="../css/footer.css">

    <title>PET Computação | ICMC</title>
    <link rel="icon" href="../imgs/icones/favicon PET.ico">
</head>
<body>
    <nav class="cabecalho" aria-label="Menu principal">
        <a href="/" aria-label="Ir para página inicial">
            <img src="../imgs/logo/Logo pet.png" alt="PET Computação - Grupo de extensão do ICMC/USP">
            <img class="logo_pet_hover" src="../imgs/logo/Logo pet - verde escuro.png" alt="" role="img" aria-hidden="true">
        </a>
        <ul class="links_cabecalho">
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/membros">Membros</a></li>
            <li><a href="/sobre-nos">Sobre nós</a></li>
        </ul>
    </nav>
    
    <main>
        <figure class="banner_equipe_pet">
            <h1>Seja bem vinde ao PET Computação!</h1>
            <img class="banner_desktop" src="../imgs/banner/Banner pet desktop.png" alt="Equipe PET Computação reunida" role="img">
            <img class="banner_mobile" src="../imgs/banner/Banner pet mobile.png" alt="Equipe PET Computação reunida" role="img">
        </figure>

        <article class="pilares" aria-label="Pilares do PET">
            <figure>
                <img src="../imgs/icones/icon_ensino.svg" alt="" aria-hidden="true">
                <h3>Ensino</h3>
            </figure>
            <figure>
                <img src="../imgs/icones/icon_pesquisa.svg" alt="" aria-hidden="true">
                <h3>Pesquisa</h3>
            </figure>
            <figure>
                <img src="../imgs/icones/icon_extensao.svg" alt="" aria-hidden="true">
                <h3>Extensão</h3>
            </figure>
            <figure>
                <img src="../imgs/icones/icon_projetos.svg" alt="" aria-hidden="true">
                <h3>Projetos</h3>
            </figure>
        </article>

        <hr>

        <% if (atividades.length > 0) { %>
            <section class="nossas_atividades" aria-labelledby="titulo_atividades">
                <figure class="figure_titulo_atividades">
                    <img src="../imgs/icones/icon_pet.png" alt="" aria-hidden="true">
                    <h1 id="titulo_atividades">Nossas próximas<br>atividades</h1>
                </figure>

                <section class="atividades_andamento_proximas">
                            <article class="atividades_em_andamento" aria-labelledby="titulo_atividades_em_andamento">
                                <h2 id="titulo_atividades_em_andamento">Em andamento</h2>
                                <% atividades.forEach(atividade => { %>
                                    <% if (atividade.tipo == "em_andamento" && atividade.ativo) { %>
                                        <a href="<%= atividade.link %>">
                                            <figure>
                                                    <img src="../imgs/icones/icon_atividade.svg" alt="">
                                                <article>
                                                    <h3><%= atividade.nome %></h3>
                                                    <p><%= atividade.periodo %></p>
                                                </article>
                                            </figure>
                                        </a>
                                <% }}); %>
                            </article>
                            <article class="proximas_atividades">
                                <% atividades.forEach(atividade => { %>
                                    <% if (atividade.tipo == "ativo" && atividade.ativo) { %>
                                            <figure>
                                                <a href="<%= atividade.link %>">
                                                    <% if (atividade.imagem) { %>
                                                        <img src="<%= atividade.imagem %>" alt="">
                                                    <% } else{ %>
                                                        <img src="../imgs/imagem_instagram_pet_carregando.png" alt="">
                                                    <% } %>
                                                    <span><%= atividade.nome %></span>
                                                    <p><%= atividade.periodo %></p>
                                                </a>   
                                            </figure>
                                    <% } %>
                                <% }); %>
                            </article>
                </section>
            </section>
        <% } %>

        <article class="conheca_nossos_projetos">
            <h3>Antes de você ir...</h3>
            <button>
                Conheça nossso projetos
            </button>
        </article>
    </main>

    <footer class="footer_landing_page">
        <section class="footer_links">
            <img src="../imgs/logo/Logo pet - verde escuro.png" alt="" class="footer_logo_pet">
            <ul>
                <li>
                    <a href="https://www.facebook.com/petcompusp">
                        <img src="../imgs/icones/icon_facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/petcomputacaousp/">
                        <img src="../imgs/icones/icon_instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/PETComp_USP">
                        <img src="../imgs/icones/icon_x.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/petcompusp/about/">
                        <img src="../imgs/icones/icon_linkedin.svg" alt="">
                    </a>
                </li>   
            </ul>  
        </section>
        <section class="footer_contato">
            <article>
                <img src="../imgs/icones/icon_email.svg" alt="" class="icon_footer_email">
                <p>petcomp@icmc.usp.br</p>
            </article>
            <article>
                <img src="../imgs/icones/icon_localizacao.svg" alt="" class="icon_footer_localizacao">
                <p>Av. Trab. São Carlense, 400 - São Carlos/SP Bloco 1, sala 1-103 do ICMC</p>
            </article>
        </section>
        <section class="footer_parcerias">
            <img src="../imgs/logo/logo icmc.png" alt="" class="footer_logo_icmc">
            <img src="../imgs/logo/logo usp.png" alt="" class="footer_logo_usp">
        </section>
    </footer>
    
</body>
</html>